# ==========================================
# Python e Ambientes Virtuais
# ==========================================
**/__pycache__/
**/*.py[cod]
**/*$py.class
venv/
.venv/
.env/
.idea
.pytest_cache/
*.egg-info/
build/
dist/

# ==========================================
# Documentação gerada
# ==========================================
docs/api/

# ==========================================
# VS Code e OS
# ==========================================
.vscode/
.DS_Store
Thumbs.db
